.idea/
tcp_recon_bk

pycharm_remote_prj/.idea
pycharm_remote_prj/db_config.ini

FormTestForAndroid/.vs
FormTestForAndroid/*.v12.suo
FormTestForAndroid/FormTestForAndroid/bin/
FormTestForAndroid/FormTestForAndroid/obj/

